{% set page_title = '300 Bài code thiếu nhi' %}
{% extends "../components/base.twig" %}

{% block content %}
<main class="wapper-main h-screen flex items-center justify-center">
   <h1 class="text-white text-center py-10 text-[7vw]">300 codes for children</h1>
</main>
{% endblock %}